*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(59, 5, 90);
  color: #fff;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

header{
  background-color: dimgray;
  padding: 40px;;
}

h1{
  font-size: 50px;
  font-weight: bolder;
  font-size: 30px;
}

main{
  padding: 0;
}

main h3{
  color: rgb(161, 161, 161);
}

section{
  margin: 10px 0;
}

section h2{
  font-size: 30px;
  font-weight: lighter;
  margin-bottom:20px;
}

section ul,
section ol{  
  margin-bottom:30px;
}

section h3{
  font-size: 25px;
  font-weight: lighter;
  margin-bottom:10px;
}

section p{
  font-size: 15px;
  font-weight: lighter;
}

footer{
  background-color: rgb(161, 161, 161);  
}

footer ul{
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: nowrap;
  justify-content:space-around;
  list-style-type: none;
}

footer a{
  color:black;
  display: block;
  padding: 20px 0;
}


.discoteca{
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-discos{
  background-color: #fff;
  color: #000;
  border: 0;
}

.lista-discos thead{
  background-color: #000;
  color: #fff;
}


.lista-disco tr,
.lista-disco td{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

body.home .discos a{
  color: #fff;
}

body.home .ipva a,
body.home .discos a,
body.home .receitas a{
  color: #fff;
}


.voltar{
  color: #ccc;
}

.wrapper{
  padding: 0 50px;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  margin: 40px 0;
}

.container div{    
  height: 250px;
  border: 1px solid #000;
  background-color: #ccc;
  color: #000;  
  text-align: center;
  font-weight: 700;
  font-size: 30px;
 }

.bloco-01{
  margin-top: 0;
}

.bloco-01 div{
  width: 100%;
}

.bloco-02 div{
  width: 22%;
}

.bloco-03 div{
  width: 30%;
}

.bloco-04 div{
  width: 90%;
}

.bloco-05 div{
  width: 12%;
}

.bloco-02{  
  justify-content: space-around;
}

.bloco-03{  
  justify-content: space-between;
}

.bloco-04{  
  justify-content: center;
  
}

.bloco-05{  
  justify-content: space-between;
  
}


